{% liquid
  assign product = product | default: closest.product
-%}

<div class="fit-selector">
  <div class="fit-selector-line"></div>

  {% assign fit_options = "slim,slightly slim,standard,slightly oversized,oversized" | split: "," %}
  {% assign current_fit = product.metafields.custom.fit.value %}

  {% for option in fit_options %}
    <div class="fit-selector-item">
      <div class="fit-selector-point {% if forloop.size == current_fit %}active{% endif %}"></div>
      {% if current_fit != 2 and current_fit != 4 %}<div class="fit-selector-label">{{ option }}</div>{% endif %}
    </div>
  {% endfor %}
</div>

{% stylesheet %}
  .fit-selector {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 330px;
    margin: 20px 0;
    position: relative;
  }

  .fit-selector-line {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-primary);
    transform: translateY(-50%);
    z-index: 0;
  }

  .fit-selector-point {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;
    z-index: 1;
  }

  .fit-selector-point.active {
    background-color: white;
  }

  .fit-selector-label {
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
  }

  .fit-selector-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fit-selector-item:nth-child(2) .fit-selector-label {
    left: 0;
  }

  .fit-selector-item:last-child .fit-selector-label {
    right: 0;
  }
{% endstylesheet %}
